.soundSpot__artistSearch-container {
  min-height: 78vh;
  margin: 0px 50px;
}

.searchImage {
    width: 50px !important;
    height: 50px !important;
}

.stringOnSearchPage {
    display: flex;
    flex-direction: row;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yellowBack {
    background-color: yellow;
}

.instrumentsTags {
    /* margin-top: 70px; */
    width: 400px;
    height: 300px;
}

.genresTags {
    /* margin-top: 70px; */
    width: 400px;
    height: 300px;
}

.tagsContainer {
    display: flex;
    flex-direction: column;
}

.artistsList {
   width: 600px;
} 

.player {
    position:absolute;
    right: 1px;
    bottom: 200px;
    width: 400px !important;
    border-radius: 6px !important;
}

.userinfoOnSearchPage {
    display: flex;
    flex-direction: row;
}

.userinfoTop {
    width: 300px;
}