.profile-settings-gallery{
    min-height: 78vh;
    display: flex;
    flex-direction: row;
    padding: 2vh 0;
    justify-content: space-between;
}

.prof-set-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
   
}

.profile-settings{
    min-width: 30%;
    text-align: center;
}

.change-location{
    min-width: 30%;
}

.prof-settings-input{
    font-size: 25px;
    border: 2px solid;
    border-radius: 15px;
    height: 40px;
    text-align: center;
    width: 80%;
}

.editphoto{
    min-width: 30%;
    text-align: center;
}

.update-photo-form{
    display: flex;
    flex-direction: column; 
    text-align: center;
}

.upd-photo-input{
    font-size: 25px;
    border: 2px solid;
    border-radius: 15px;
    height: 40px;
    text-align: center;
    width: 80%;
}

.user-img-change{
    width: 200px;
    height:200px;
    border-radius: 150px;
  }