.searchImage {
    width: 50px !important;
    height: 50px !important;
}

.stringOnSearchPage {
    display: flex;
    flex-direction: row;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: space-between;
}

.yellowBack {
    background-color: yellow;
}

.genresTags {
    width: 400px;
    height: 300px;
}

.tagsContainer {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.artistsList {
   overflow: auto;
   width: 600px;
}

.bandinfoOnSearchPage {
    display: flex;
    flex-direction: column;
}

.bandinfoTop {
    width: 200px;
}