.soundSpot__spotsSearch-container {
  display: flex;
  flex-direction: column;
  margin: 0px 80px;
  min-height: 78vh;
  font-size: 20px;
}
.soundSpot__spotsSearch-container input {
  width: 100%;
  align-self: center;
  border: 1px solid #000;
  min-height: 50px;
  border-radius: 8px;
  padding: 0px 20px;
  margin: 20px 0px;
}

.soundSpot__spotsSearch_content-container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.soundSpot__spotsSearch_results-container {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.soundSpot__spotsSearch_yandex-container {
  height: 350px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.soundSpot__spotsSearch_myMap {
  flex: 1;
}