.profile-container{
  padding: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 80vh;
}

.left-prof-box{
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
  /* background-color: antiquewhite; */
}

.upper-inf-box{
  display: flex;
  justify-content: space-between;
}

.lower-inf-box{
  display: flex;
  justify-content: space-between;
}

.right-box {
  display: flex;
  justify-content: center;
}

.profile-inf {
  color: black;
}

.profile-img-bo{
  border-radius: 50px;
}
.user-img {
  width: 200px;
  height:200px;
  border-radius: 150px;
}

.name-rating-box{
  display: flex;
  justify-content: space-between;
}